name: build & test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      TARGET_NAME: fhweb
      LDFLAGS: -ldflags="-X 'main.Version=v0.0.1'"
      APP_ENV_application_env: test
      APP_ENV_application_appType: web
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mongodb:
        image: mongo:latest
        ports:
          - 27037:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: admin
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ ping: 1 })' --quiet"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mysql:
        image: mysql:latest
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
        options: >-
          --health-cmd "mysqladmin ping -h localhost -u root -proot"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: PWD & ls
        run: | 
          pwd
          ls -la
          env |grep APP_ENV_

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download dependencies
        run: go mod download

      - name: Build
        run: |
          go build ${{ env.LDFLAGS }} -o ./example_main/target/${{ env.TARGET_NAME }} ./example_main/main.go

      - name: Test frame directory
        run: |
          go version
          echo "Fake temporary test"
          # go test -v -coverprofile=coverage.txt -covermode=atomic ./frame/...

      - name: Start server in background
        run: |
          ./example_main/target/${{ env.TARGET_NAME }} &
          echo $! > server.pid
          sleep 3

      - name: Health check with curl
        run: |
          curl --fail http://127.0.0.1:8080/example/hello/world || exit 1

      - name: Stop server
        if: always()
        run: |
          if [ -f server.pid ]; then
            kill $(cat server.pid) || true
          fi

      - name: Upload build artifact
        run: |
          echo "Fake upload artifact step"
        #uses: actions/upload-artifact@v4
        #with:
          #name: ${{ env.TARGET_NAME }}-${{ github.sha }}
          #path: ./example_main/target/${{ env.TARGET_NAME }}
          #retention-days: 7
